%p#notice= notice
%p
  %strong Author:
  = @photo.author
%p
  %strong Location:
  = @photo.location_id
%p
  %strong Photo:
  =image_tag @photo.photo.url
= link_to 'Edit', edit_photo_path(@photo)
|
\#{link_to 'Back', photos_path}
