= form_for(@location) do |f|
  - if @location.errors.any?
    #error_explanation
      %h2
        = pluralize(@location.errors.count, "error")
        prohibited this location from being saved:
      %ul
        - @location.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :coordinates
    %br/
    %p= @location.coordinates
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .actions
    = f.submit
