= form_for(@location) do |f|
  - if @location.errors.any?
    #error_explanation
      %h2
        = pluralize(@location.errors.count, "error")
        prohibited this location from being saved:
      %ul
        - @location.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :coordinates
    %br/
    %p= @location.coordinates
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .actions
    = f.submit

.gallery.sort-mode{data:{location:@location.id}}
  %h2 Photos
  .button-toolbar
    .btn-group
      %button.btn.btn-default.dropdown-toggle{type:"button", data:{toggle:"dropdown"}, aria:{expanded:"false"}}
        Import 
        %span.caret
      %ul.dropdown-menu{role:"menu"}
        %li
          %a{href:"#"} Upload
        %li
          %a{href:"#"} Facebook
        %li
          %a{href:"#"} Google+

    .mode-toggle.btn-radio-group.btn-group
      %label
        %input{type:'radio', name:'mode', checked:true}
        %span.btn.btn-default
          %i.glyphicon.glyphicon-move
      %label
        %input{type:'radio', name:'mode'}
        %span.btn.btn-default
          %i.glyphicon.glyphicon-ok-sign

    .batch-actions
      %button.btn.btn-danger.delete{disabled:true}
        %i.glyphicon.glyphicon-trash

      .btn-group
        %button.btn.btn-default.dropdown-toggle{type:"button", data:{toggle:"dropdown"}, aria:{expanded:"false"}, disabled:true}
          Move To
          %span.caret
        %ul.dropdown-menu{role:"menu"}
          - @locations.each do |loc|
            %li
              %a{href:"#", data:{location:{id:loc.id}}}= loc.name

  = form_tag sort_photos_path, class: 'sortable-gallery-form', remote: true do
    %ul.list-inline.photos.sortable
      - @location.photos.each do |photo|
        %li.photo{data:{id:photo.id}}
          %img{src:photo.photo.thumb_square_small.url}
          %input{type:"hidden", name:'photo_ids[]', value: photo.id}


  = form_for @location do |f|
    = f.s3_file_field :photos, :class => 'js-s3_file_field', multiple: true #, :key => "/uploads/${timestamp}/${filename}"
    / .progress
    / .meter{ :style => "width: 0%" }